body {
    text-align: center;
    background-image: url('./assets/road-forest.jpg');
  }
  
  #backBoard {
    background-color: rgb(53, 52, 52);
    border-left: 5px solid white;
    border-right: 5px solid white;
    padding: 5px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .instruction {
    height: 370px;
    width: 350px;
    margin: 0 10px;
    background-color: beige;
    font-size: large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding: 2px;
    z-index: 2;
  }
  
  .instruction-list {
    list-style: none;
    padding: 0;
  }
  
  .instruction-list li {
    margin-left: 0;
    padding-left: 0;
  }

  .buttons{
    text-align:center;
    display: flex;
    justify-content: space-between;
  }
  button{
    margin-right: 20px;
    background-color: bisque;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 8px;
  }
  

  
